## Importing Dependencies

In [1]:
import pandas as pd
import requests
import json

In [2]:
first_path = "../../resources/data/Relacion ID-Municipios/ID-Municipios.csv"

In [3]:
id_municipality = pd.read_csv(first_path, encoding='latin-1')
id_municipality.head()

      ID    Municipio
0  19001      Abasolo
1  19002   Agualeguas
2  19003  Los Aldamas
3  19004      Allende
4  19005      Anáhuac

## Storing API Links into variables

In [4]:
api_1 = "https://datamexico.org/api/data?State=19&Year=2018&cube=coneval_gini_mun&drilldowns=Municipality&measures=GINI&parents=true&sparse=false&locale=es"
api_2 = "https://datamexico.org/api/data?State=19&Year=2015&cube=inegi_population&drilldowns=Municipality&measures=Population&parents=false&sparse=false&locale=es"

In [5]:
nation_ids = []
nations = []
states_ids = []
states = []
municipality_ids = []
municipalities = []
ginis = []

c = 0
response = requests.get(api_1)
data = response.json()["data"]
data_length = len(data)
while c < data_length:
    nation_ids.append(data[c]['Nation ID'])
    nations.append(data[c]['Nation'])
    states_ids.append(data[c]['State ID'])
    states.append(data[c]['State'])
    municipality_ids.append(data[c]['Municipality ID'])
    municipalities.append(data[c]['Municipality'])
    ginis.append(data[c]['GINI'])
    c = c + 1

In [6]:
api_1_df = pd.DataFrame({"Nations ID":nation_ids,
                        "Nation":nations,
                        "State ID":states_ids,
                        "State":states,
                        "ID":municipality_ids,
                        "Municipality":municipalities,
                        "GINI":ginis})
api_1_df.head()

  Nations ID  Nation  State ID       State     ID Municipality      GINI
0        mex  México        19  Nuevo León  19001      Abasolo  0.396089
1        mex  México        19  Nuevo León  19002   Agualeguas  0.428212
2        mex  México        19  Nuevo León  19003  Los Aldamas  0.435469
3        mex  México        19  Nuevo León  19004      Allende  0.340558
4        mex  México        19  Nuevo León  19005      Anáhuac  0.383755

In [7]:
first_api = pd.merge(api_1_df, id_municipality, on = "ID", how = "inner")
first_api = first_api[["Nations ID", "Nation", "State ID","State", "ID", "Municipio", "GINI"]]
first_api

,Nations ID,Nation,State ID,State,ID,Municipio,GINI
0,mex,México,19,Nuevo León,19001,Abasolo,0.396089
1,mex,México,19,Nuevo León,19002,Agualeguas,0.428212
2,mex,México,19,Nuevo León,19003,Los Aldamas,0.435469
3,mex,México,19,Nuevo León,19004,Allende,0.340558
4,mex,México,19,Nuevo León,19005,Anáhuac,0.383755
5,mex,México,19,Nuevo León,19006,Apodaca,0.323524
6,mex,México,19,Nuevo León,19007,Aramberri,0.463622
7,mex,México,19,Nuevo León,19008,Bustamante,0.334266
8,mex,México,19,Nuevo León,19009,Cadereyta Jiménez,0.368073
9,mex,México,19,Nuevo León,19010,El Carmen,0.339524
10,mex,México,19,Nuevo León,19011,Cerralvo,0.355913
11,mex,México,19,Nuevo León,19012,Ciénega de Flores,0.312557
12,mex,México,19,Nuevo León,19013,China,0.361397
13,mex,México,19,Nuevo León,19014,Dr. Arroyo,0.490310
14,mex,México,19,Nuevo León,19015,Dr. Coss,0.413523
15,mex,México,19,Nuevo León,19016,Dr. González,0.434400
16,mex,México,19,Nuevo León,19017,Galeana,0.473902
17,mex,México,19,Nuevo León,19018,García,0.349600
18,mex,México,19,Nuevo León,19019,San Pedro Garza García,0.363062
19,mex,México,19,Nuevo León,19020,Gral. Bravo,0.393138
20,mex,México,19,Nuevo León,19021,Gral. Escobedo,0.371774
21,mex,México,19,Nuevo León,19022,Gral. Terán,0.404092
22,mex,México,19,Nuevo León,19023,Gral. Treviño,0.413215
23,mex,México,19,Nuevo León,19024,Gral. Zaragoza,0.448942
24,mex,México,19,Nuevo León,19025,Gral. Zuazua,0.306754
25,mex,México,19,Nuevo León,19026,Guadalupe,0.360587
26,mex,México,19,Nuevo León,19027,Los Herreras,0.439862
27,mex,México,19,Nuevo León,19028,Higueras,0.410315
28,mex,México,19,Nuevo León,19029,Hualahuises,0.382014
29,mex,México,19,Nuevo León,19030,Iturbide,0.433981
30,mex,México,19,Nuevo León,19031,Juárez,0.336111
31,mex,México,19,Nuevo León,19032,Lampazos de Naranjo,0.350161
32,mex,México,19,Nuevo León,19033,Linares,0.380049
33,mex,México,19,Nuevo León,19034,Marín,0.365430
34,mex,México,19,Nuevo León,19035,Melchor Ocampo,0.428854
35,mex,México,19,Nuevo León,19036,Mier y Noriega,0.438683
36,mex,México,19,Nuevo León,19037,Mina,0.367668
37,mex,México,19,Nuevo León,19038,Montemorelos,0.364047
38,mex,México,19,Nuevo León,19039,Monterrey,0.387010
39,mex,México,19,Nuevo León,19040,Parás,0.442122
40,mex,México,19,Nuevo León,19041,Pesquería,0.346197
41,mex,México,19,Nuevo León,19042,Los Ramones,0.416500
42,mex,México,19,Nuevo León,19043,Rayones,0.435898
43,mex,México,19,Nuevo León,19044,Sabinas Hidalgo,0.366129
44,mex,México,19,Nuevo León,19045,Salinas Victoria,0.357794
45,mex,México,19,Nuevo León,19046,San Nicolás de los Garza,0.335964
46,mex,México,19,Nuevo León,19047,Hidalgo,0.350697
47,mex,México,19,Nuevo León,19048,Santa Catarina,0.348132
48,mex,México,19,Nuevo León,19049,Santiago,0.349870
49,mex,México,19,Nuevo León,19050,Vallecillo,0.428824
50,mex,México,19,Nuevo León,19051,Villaldama,0.390510

In [8]:
first_api.to_csv("outputs/dataframe_api_1.csv", index = True)

In [9]:
first_api.to_json("outputs/dataframe_api_1.js")

In [10]:
municipality_id_2 = []
municipality_2 = []
populations = []

c = 0
response = requests.get(api_2)
data_2 = response.json()["data"]
data_length = len(data_2)
while c < data_length:
    municipality_id_2.append(data[c]['Municipality ID'])
    municipality_2.append(data[c]['Municipality'])
    populations.append(data_2[c]["Population"])
    c = c + 1

In [11]:
api_2_df = pd.DataFrame({"ID":municipality_id_2,
                        "Municipality":municipality_2,
                        "Population":populations})

api_2_df.head()

      ID Municipality  Population
0  19001      Abasolo        2639
1  19002   Agualeguas        2439
2  19003  Los Aldamas        1292
3  19004      Allende       34353
4  19005      Anáhuac       18194

In [12]:
second_api = pd.merge(api_2_df, id_municipality, on = "ID", how = "inner")
second_api = second_api[["ID", "Municipio", "Population"]]
second_api

       ID                 Municipio  Population
0   19001                   Abasolo        2639
1   19002                Agualeguas        2439
2   19003               Los Aldamas        1292
3   19004                   Allende       34353
4   19005                   Anáhuac       18194
5   19006                   Apodaca      597207
6   19007                 Aramberri       16152
7   19008                Bustamante        3977
8   19009         Cadereyta Jiménez       95534
9   19010                 El Carmen       38306
10  19011                  Cerralvo        7757
11  19012         Ciénega de Flores       42715
12  19013                     China       10835
13  19014                Dr. Arroyo       34110
14  19015                  Dr. Coss        1632
15  19016              Dr. González        2861
16  19017                   Galeana       41130
17  19018                    García      247370
18  19019    San Pedro Garza García      123156
19  19020               Gral. Bravo        5479
20  19021            Gral. Escobedo      425148
21  19022               Gral. Terán       14795
22  19023             Gral. Treviño        1044
23  19024            Gral. Zaragoza        6011
24  19025              Gral. Zuazua       67294
25  19026                 Guadalupe      682880
26  19027              Los Herreras        1764
27  19028                  Higueras        1511
28  19029               Hualahuises        6921
29  19030                  Iturbide        3571
30  19031                    Juárez      333481
31  19032       Lampazos de Naranjo        5238
32  19033                   Linares       79853
33  19034                     Marín        5630
34  19035            Melchor Ocampo         955
35  19036            Mier y Noriega        6996
36  19037                      Mina        5326
37  19038              Montemorelos       60829
38  19039                 Monterrey     1109171
39  19040                     Parás         971
40  19041                 Pesquería       87168
41  19042               Los Ramones        4469
42  19043                   Rayones        2640
43  19044           Sabinas Hidalgo       35456
44  19045          Salinas Victoria       54192
45  19046  San Nicolás de los Garza      430143
46  19047                   Hidalgo       13836
47  19048            Santa Catarina      296954
48  19049                  Santiago       42407
49  19050                Vallecillo        1632
50  19051                Villaldama        4080

In [13]:
second_api.to_csv("outputs/dataframe_api_2.csv", index = True)

In [14]:
second_api.to_json("outputs/dataframe_api_2.js")

In [15]:
merged_apis = pd.merge(first_api, second_api, how = "inner")
merged_apis.head()

,Nations ID,Nation,State ID,State,ID,Municipio,GINI,Population
0,mex,México,19,Nuevo León,19001,Abasolo,0.396089,2639
1,mex,México,19,Nuevo León,19002,Agualeguas,0.428212,2439
2,mex,México,19,Nuevo León,19003,Los Aldamas,0.435469,1292
3,mex,México,19,Nuevo León,19004,Allende,0.340558,34353
4,mex,México,19,Nuevo León,19005,Anáhuac,0.383755,18194

In [16]:
merged_apis.to_csv("outputs/dataframe_merged_apis.csv", index = True)

In [17]:
merged_apis.to_json("outputs/dataframe_merged_apis.js")