In [1]:
import pandas as pd

In [2]:
first_path = "../../resources/data/Relacion ID-Municipios/ID-Municipios.csv"

In [3]:
id_municipality = pd.read_csv(first_path, encoding='latin-1')
id_municipality.head()

      ID    Municipio
0  19001      Abasolo
1  19002   Agualeguas
2  19003  Los Aldamas
3  19004      Allende
4  19005      Anáhuac

In [4]:
file_path = "../../resources/data/INEGI - Censo NL 2020/conjunto_de_datos_iter_19CSV20.csv"

In [5]:
iter_data = pd.read_csv(file_path)
clean_data = iter_data[["NOM_MUN","NOM_LOC","LOC","POBTOT","GRAPROES","PEA","PDESOCUP","PSINDER"]]
clean_data

,NOM_MUN,NOM_LOC,LOC,POBTOT,GRAPROES,PEA,PDESOCUP,PSINDER
0,Total de la entidad Nuevo León,Total de la Entidad,0,5784442,10.74,2862003,54554,1072664
1,Total de la entidad Nuevo León,Localidades de una vivienda,9998,7782,6.45,4388,19,2999
2,Total de la entidad Nuevo León,Localidades de dos viviendas,9999,3457,6.54,1636,11,704
3,Abasolo,Total del Municipio,0,2974,9.45,1130,37,141
4,Abasolo,Abasolo,1,1992,9.72,721,26,14
...,...,...,...,...,...,...,...,...
4969,Villaldama,José Luis Ochoa,175,6,*,*,*,*
4970,Villaldama,Ninguno,185,2,*,*,*,*
4971,Villaldama,Los Pioneros,196,6,*,*,*,*
4972,Villaldama,Localidades de una vivienda,9998,51,8.7,22,0,3
4973,Villaldama,Localidades de dos viviendas,9999,2,*,*,*,*

In [6]:
specific_df = clean_data.loc[clean_data["LOC"] == 0,:]
cleaned_df = specific_df.drop(index =0)
cleaned_df = cleaned_df.reset_index()
cleaned_df = cleaned_df[["NOM_MUN","NOM_LOC","LOC","POBTOT","GRAPROES","PEA","PDESOCUP","PSINDER"]]
cleaned_df

,NOM_MUN,NOM_LOC,LOC,POBTOT,GRAPROES,PEA,PDESOCUP,PSINDER
0,Abasolo,Total del Municipio,0,2974,9.45,1130,37,141
1,Agualeguas,Total del Municipio,0,3382,8.12,1322,20,328
2,Los Aldamas,Total del Municipio,0,1407,7.07,535,11,320
3,Allende,Total del Municipio,0,35289,9.19,17028,134,4420
4,Anáhuac,Total del Municipio,0,18030,8.57,7824,100,2626
5,Apodaca,Total del Municipio,0,656464,11.35,338246,5971,103346
6,Aramberri,Total del Municipio,0,14992,7.52,6217,68,1366
7,Bustamante,Total del Municipio,0,3661,8.84,1395,26,271
8,Cadereyta Jiménez,Total del Municipio,0,122337,9.35,58878,966,26164
9,El Carmen,Total del Municipio,0,104478,9.4,48276,1309,23156
10,Cerralvo,Total del Municipio,0,7340,8.09,3186,38,969
11,Ciénega de Flores,Total del Municipio,0,68747,9.33,33220,907,13847
12,China,Total del Municipio,0,9930,7.91,4433,94,1487
13,Doctor Arroyo,Total del Municipio,0,36088,7.45,15087,179,3617
14,Doctor Coss,Total del Municipio,0,1360,7.32,447,18,238
15,Doctor González,Total del Municipio,0,3256,7.93,1136,15,184
16,Galeana,Total del Municipio,0,40903,7.88,16469,324,4902
17,García,Total del Municipio,0,397205,10.31,193318,3461,82375
18,San Pedro Garza García,Total del Municipio,0,132169,13.16,66561,841,15235
19,General Bravo,Total del Municipio,0,5506,8.23,2367,39,1673
20,General Escobedo,Total del Municipio,0,481213,10.45,240759,5112,103516
21,General Terán,Total del Municipio,0,14109,8.08,5948,50,2252
22,General Treviño,Total del Municipio,0,1808,8.17,519,4,239
23,General Zaragoza,Total del Municipio,0,6282,7.96,2293,23,782
24,General Zuazua,Total del Municipio,0,102149,9.71,50278,865,18241
25,Guadalupe,Total del Municipio,0,643143,11.08,321854,6569,124452
26,Los Herreras,Total del Municipio,0,1959,7.51,666,24,157
27,Higueras,Total del Municipio,0,1386,8.56,559,11,220
28,Hualahuises,Total del Municipio,0,7026,9.07,2734,39,849
29,Iturbide,Total del Municipio,0,3298,7.62,1197,95,224
30,Juárez,Total del Municipio,0,471523,9.88,231559,4529,105494
31,Lampazos de Naranjo,Total del Municipio,0,5351,8.31,2258,35,615
32,Linares,Total del Municipio,0,84666,9.44,38712,846,9717
33,Marín,Total del Municipio,0,5119,8.88,2230,35,769
34,Melchor Ocampo,Total del Municipio,0,1483,8.53,576,34,115
35,Mier y Noriega,Total del Municipio,0,7652,6.59,2356,93,541
36,Mina,Total del Municipio,0,6048,8.35,2491,50,821
37,Montemorelos,Total del Municipio,0,67428,9.71,32734,355,9523
38,Monterrey,Total del Municipio,0,1142994,11.47,575178,10826,225011
39,Parás,Total del Municipio,0,906,8.56,331,5,109
40,Pesquería,Total del Municipio,0,147624,9.44,75016,1299,27944
41,Los Ramones,Total del Municipio,0,5389,7.37,2213,71,1809
42,Rayones,Total del Municipio,0,2377,6.66,912,15,176
43,Sabinas Hidalgo,Total del Municipio,0,34709,9.69,16396,214,4283
44,Salinas Victoria,Total del Municipio,0,86766,9.43,43084,626,19052
45,San Nicolás de los Garza,Total del Municipio,0,412199,11.92,204861,4626,63754
46,Hidalgo,Total del Municipio,0,16086,9.6,7470,212,1955
47,Santa Catarina,Total del Municipio,0,306322,10.66,155536,3069,55606
48,Santiago,Total del Municipio,0,46784,10.31,22133,213,7363
49,Vallecillo,Total del Municipio,0,1552,7.15,652,8,145
50,Villaldama,Total del Municipio,0,3573,8.96,1423,43,265

In [7]:
ids = []
x = 19001
c = 0
while c < 51:
    ids.append(x)
    x = x + 1
    c = c + 1

In [8]:
cleaned_df["ID"] = ids

In [9]:
cleaned_df.head()

,NOM_MUN,NOM_LOC,LOC,POBTOT,GRAPROES,PEA,PDESOCUP,PSINDER,ID
0,Abasolo,Total del Municipio,0,2974,9.45,1130,37,141,19001
1,Agualeguas,Total del Municipio,0,3382,8.12,1322,20,328,19002
2,Los Aldamas,Total del Municipio,0,1407,7.07,535,11,320,19003
3,Allende,Total del Municipio,0,35289,9.19,17028,134,4420,19004
4,Anáhuac,Total del Municipio,0,18030,8.57,7824,100,2626,19005

In [10]:
ultimate_clean = cleaned_df[["ID","NOM_MUN","NOM_LOC","LOC","POBTOT","GRAPROES","PEA","PDESOCUP","PSINDER"]]
ultimate_clean.head()

,ID,NOM_MUN,NOM_LOC,LOC,POBTOT,GRAPROES,PEA,PDESOCUP,PSINDER
0,19001,Abasolo,Total del Municipio,0,2974,9.45,1130,37,141
1,19002,Agualeguas,Total del Municipio,0,3382,8.12,1322,20,328
2,19003,Los Aldamas,Total del Municipio,0,1407,7.07,535,11,320
3,19004,Allende,Total del Municipio,0,35289,9.19,17028,134,4420
4,19005,Anáhuac,Total del Municipio,0,18030,8.57,7824,100,2626

In [11]:
approved_df = pd.merge(ultimate_clean, id_municipality, on = "ID", how = "inner")
approved_df = approved_df[["ID","Municipio","NOM_LOC","LOC","POBTOT","GRAPROES","PEA","PDESOCUP","PSINDER"]]

In [12]:
ultimate_clean.to_csv("../output/iter_1920.csv", index = True)

In [13]:
ultimate_clean.to_json("../output/iter_1920r.js", orient = "records")

In [14]:
ultimate_clean.to_json("../output/iter_1920c.js", orient = "columns")